.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: white;
}

.logo img {
  width: 150px;
}

.nav-links a {
  margin: 0 15px;
  color: #2f281e;
  text-decoration: none;
}

.auth-buttons button {
  margin-left: 10px;
}
