<footer class="footer-container">
  <div class="footer-section">
    <img src="./assets/logo-2.svg" alt="Productly Logo" />
    <div class="footer-links">
      <div class="footer-column">
        <h2>Legal Stuff</h2>
        <ul>
          <li><a href="#">Disclaimer</a></li>
          <li><a href="#">Financing</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms of Service</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
      <div class="footer-column">
        <h2>Quick Links</h2>
        <ul>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact</a></li>
          <li><a href="#">FAQ</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
