.footer-container {
  background-color: #fff;
  padding: 40px 0;
  width: 100%;

  .footer-section {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;

    img {
      width: 180px;
    }

    .footer-links {
      display: flex;
      justify-content: space-between;
      flex: 1;

      .footer-column {
        flex: 1;
        margin-left: 20px;

        h2 {
          font-size: 20px;
          color: #2f281e;
        }

        ul {
          list-style: none;
          padding: 0;

          li {
            margin: 10px 0;

            a {
              text-decoration: none;
              color: #544837;
              font-size: 16px;

&:hover {
                text-decoration: underline;
              }
            }
          }
        }
      }
    }
  }
}

