// @import '@angular/material/theming';
@use '@angular/material';

$dark-green: #4bf6b4;
$off-white: #060606;
$yellow: #DEAA57;

.navbar {
  background-color: $dark-green;
  color: $off-white;
  font-family: 'PP Neue Montreal', sans-serif;

  &__logo {
    font-size: 1.25rem;
    font-weight: bold;
  }

  &__links a {
    color: $off-white;
    margin-left: 15px;
    text-decoration: none;
    
    &:hover {
      color: $yellow;
    }
  }
}
